/* 자바스크립트 프로젝트 구현 - 인바디 다이어리 (home_style.css) */

@import "base_style.css";

/* 화면 메인 (차트 그룹) */
.screen main .chart-group {
  width: 65%;
}

.screen main .chart-group .js-views-1 .view-column {
  height: 10%;
}

.screen main .chart-group .js-views-2 .view-column {
  height: 30%;
}

.screen main .chart-group .js-views-2-1 .view-column {
  height: 70%;
}

.screen main .chart-group .js-views-2-2 .view-column {
  height: 70%;
}
